<h1>Welcome to Code Apprentice!</h1>

<p>Dear <%= @user.full_name %></p>

<p>You have successfully created your account at Code Apprentice.</p>

<p>You have registered this email to your account: <%= @user.email %></p>

<p>Thanks again for signing up!</p>

<p>-Code Apprentice</p>