%h1 Meetup

%table
  %tr
    %th Venue
    %th Date
    %th Time
    %th Description
    %th
    %th
  = render @meetups

= link_to "Add A Meetup", new_apprenticeship_meetup_url(current_apprenticeship)