%p
  = link_to "Home", current_user
  >
  = link_to "Your Apprenticeships", apprenticeships_url
  > 
  = link_to "Current Apprenticeship", apprenticeship_url(current_apprenticeship)
  >
  Meetups

= render 'meetups_index'
