<p>
  <%= link_to "Apprenticeships", apprenticeships_url %> > 
  <%= link_to "Current Apprenticeship", apprenticeship_url(current_apprenticeship) %> >
  Meetups
</p>

<h1>Meetups</h1>

<table>
  <tr>
    <th>Venue</th>
    <th>Date</th>
    <th>Time</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  <%= render @meetups %>
</table>
<%= link_to "Add A Meetup", new_apprenticeship_meetup_url(current_apprenticeship) %>