%h3
  Your Mentor Mode is currently turned:
  %strong= link_to current_user.mentor ? "ON" : "OFF" , toggle_url, remote: true, class: "button"
/ %p
/   %em *(If turned on, you are open to new users adding you as their mentor)