%h1 Your Account Settings
%ul
  %li
    Full Name:
    = current_user.full_name
  %li
    Email: 
    = current_user.email
  %li
    Description:
    = current_user.description
= link_to "Edit Account", edit_user_url(current_user)
  
  