%h3 A Message From The Developer
%h4 Thank you very much for trying out my apprenticeship app for Code Academy. At the bottom of EVERY page, there is a feedback form where I can get your feedback about the page. You can send feedback ANYTIME at all. I do not store your user id so don't worry. Please tell your mentor or student to join and I'd love to get the main feedback that will help your apprenticeship be more effective.

%h5 Thanks!
%h5 -Luis

%hr
%h1 Sign Up
= render 'form'
