<tr>
  <td class="table_column_left"><%= link_to resource.title, resource.link, :target => :_blank %></td>
  <td>added by <%= resource.user.full_name %></td>
  <td><%= resource.description %></td>
</tr>