%h1 Add A New Apprenticehip!

= render 'users/mentor_mode'

%table
  %tr
    %td
    %td Name
  - @available_mentors.each do |mentor|
    %tr
      %td.table_column_left= link_to "Add Mentor", apprenticeships_url(:id => mentor.id), :method => :post
      %td
        %strong= mentor.full_name
        says "
        %em>= mentor.description
        "

= paginate @available_mentors
