<h1>Add a New Apprenticeship</h1>

<table>
  <tr>
    <td></td>
    <td>Name</td>
  </tr>
<% @available_mentors.each do |mentor| %>
  <tr>
    <td><%= link_to "Add Mentor", apprenticeships_url(:id => mentor.id), :method => :post %></td>
    <td><strong><%= mentor.full_name %></strong> says "<em><%= mentor.description %></em>"</td>
  </tr>
<% end %>
</table>