%p
  = link_to "Apprenticeships", apprenticeships_url
  > Current Apprenticeship
%h3
  / = link_to "Messages", apprenticeship_messages_url(current_apprenticeship), id: "messages_link", remote: true
  / |
  = link_to "Meetups", apprenticeship_meetups_url(current_apprenticeship), remote: true
  |
  = link_to "Resources", apprenticeship_resources_url(current_apprenticeship), remote: true
%hr
#top_section
#messages
  %h1 Messages
  = render 'messages'

/ #corkboard
/   %h3 Corkboard
/   %clear
/   #board
/     = on_the_spot_edit @corkboard, :notes, :type => :textarea, :rows => 20, :columns => 31
