/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*body {
	background-color: #0973BA;
}*/

.clr {
	clear: both;
}

#container {
	background-color: white;
	width: 960px;
	margin: 40px auto;
}

table th.table_center {
	text-align: center;
}

table td.table_center {
	text-align: center;
}

table td.table_column_left {
	text-align: right;
	font-weight: bold;
}

table td.table_column_right {
	width: 20%;
}

#user_nav_right {
	float: right;
}

#user_nav_left {
	float: left;
}

a {
	text-decoration: none;
}

#button_inline {
	display: inline;
}

#corkboard {
	float: left;

}

#corkboard #board {
	width: 233px;
	height: 270px;
	border: 1px solid gray ;	
}

#messages_wrap {
	float: right;
}

#messages_wrap table {
	width: 700px;
}

#messages_wrap table td.table_column_left{
	width: 80px;
}

#switch {
	float: left;
}

#switch #button {
	float: left;
}

#footer {
	text-align: center;
}

#feedback {
	width: 150px;
	margin: auto;
}