/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.clear {
	clear: both;
}

#container {
	background-color: white;
	width: 960px;
	margin: 40px auto;
}

table th.table_center {
	text-align: center;
}

table td.table_center {
	text-align: center;
}

table td.table_column_left {
	text-align: right;
	font-weight: bold;
}

table td.table_column_right {
	width: 20%;
}

#user_nav {
	#right {
		float: right;
	}
	#user_nav_left {
		float: left;
	}
}

a {
	text-decoration: none;
}

/*CORKBOARD*/

#corkboard {
	float: left;

}

#corkboard #board {
	width: 233px;
	height: 270px;
	border: 1px solid gray ;	
}

/*MESSAGES*/

#messages_wrap table {
	width: 960px;
	
	td.table_column_left {
		width: 100px;
	}
}

/*FOOTER*/

#footer {
	text-align: center;
}

/*FEEDBACK*/

#feedback {
	width: 150px;
	margin: auto;
}

// MEETUPS
#top_section {
	display: none;
}